.nav {
    grid-area: nav;
    background-color: #64DEDC;
    padding: 20px;
}

.item {
    font-weight: 470;
    padding: 6px;
    display: flex;
    margin: 15px;
}

.item img {
    width: 20px;
    padding-right: 10px;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
}

.activeLink {
    color: black;
    text-decoration: none;
}